.header{
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 500px;
        
        background-color: white;
        text-align: center;
        justify-content: space-between;
}
input{
        height: 40px;
        width: 400px;
        text-align: center;        
}
input[type=submit]{
        height: 40px;
        width: 100px;
        text-align: center;  
        BORDER: rgb(36, 36, 36) 1px solid; 
}
input[type=submit]:hover{
        background-color: gainsboro;    
}
input[type=checkbox]{
        width: 20px;
        height: 20px;
        margin: 15px 10px;
}
ul#listado{
        height: 1px;
        width: 525px;
        text-align: center;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 20px;
        padding-top: 0px;
        }
p{
        height: 10px;
        width: 500px;
}
#listado li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        color: black;
        background-color: white;
        margin-top: 10px;
        padding-top: 0px;
        margin-right: 19px;
        border: 0.1rem black solid;
        border-radius: 3px;
}
h6 {
        color: gray;
        padding-top: 10;
        margin: 0px;
}
input:checked + p{
        text-decoration: line-through;
}
 button{
        background-color:transparent;
        border-color:white;
        border: none;
}
#fullscreean:-webkit-full-screen {
        width: 100%;
        height: 100%;
        background-color: white;
       
}
#full{
        margin-top: 10px;
        width: 40;
        height: 40;
        BORDER: rgb(36, 36, 36) 1px solid; 
        FONT-FAMILY: Verdana; 
        border-radius: 3px;
        background-color: rgb(233, 233, 233);
}#full:hover{
        background-color: gainsboro;
}